<!DOCTYPE html>

<!--[if lt IE 7]><html {{site.language_attributes}} class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html {{site.language_attributes}} class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html {{site.language_attributes}} class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html {{site.language_attributes}} class="no-js"><!--<![endif]-->

<head>
    <meta charset="utf-8">

    {# Google Chrome Frame for IE #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    <script type="text/javascript">
        var domain = '{{ domain }}';
        var ajaxurl = '{{ ajax_url }}';
        var templateurl = '{{ theme.link }}';
    </script>

    {# mobile meta #}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--[if IE]>
        <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico">
    <![endif]-->

    <meta name="msapplication-TileColor" content="#f01d4f">
    <meta name="msapplication-TileImage" content="{{ theme.link }}/library/images/win8-tile-icon.png">

    <link rel="pingback" href="{{ function('bloginfo','pingback_url') }}">

    {{ function('wp_head') }}

    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
</head>

<body class="{{ body_class }}" >

	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43853654-1', 'zipheads.com');
        ga('send', 'pageview');
    </script>


	{% block header %}
		{% include 'common/header.twig' %}
	{% endblock %}

    <div id="content-container">
    	{% block content %}
    		Sorry, no content
    	{% endblock %}
    </div>

	{% block footer %}
		{% include 'common/footer.twig' %}	
	{% endblock %}

	{{ function('wp_footer') }}


</body>
</html>
