{% extends "base.twig" %}

{% block content %}

	<div class="container">

		<div class="row">

			<section id="main-content">
				<header>
			        <h1>{{ post.title }}</h1>
			    </header>
				{{ post.content }}
			</section>

			<section id="side-content">
				<h2>Links</h2>
				{{ post.side_content }}
			</section>

		</div>
			
	</div>

{% endblock %}
