{% extends "base.twig" %}

{% block content %}

	<div class="container">
		{% if post.slider_or_video == 'video' %}
			{% if post.video_link %}
				<div class="iframe-wrap">
					<iframe src="https://www.youtube.com/embed/{{ post.video_link | youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<br>
				{% if post.buttons %}
					<div class="home-buttons">
						{% for button in post.meta('buttons') %}
							<a href="{{ button.link }}" {{ button.target_blank ? 'target="_blank"' : '' }} class="btn">{{ button.label }}</a>
						{% endfor %}
					</div>
				{% endif %}

				{% if post.video_copy %}
					<div style="margin-bottom: 30px;">
						{{ post.video_copy|wpautop }}
					</div>
				{% endif %}
				
			{% endif %}
		{% else %}
			{% if post.slider %}
				<div class="row">
				
					<div id="slider">
					
						{% for slide in post.get_field('slider') %}

							<div class="slide standard">
								
								<div class="row">
									<div class="image">
										{% set image = TimberImage(slide.image) %}
										{% if slide.video_link %}
											<div class="video-link">
												<a href="{{ slide.video_link }}">
										{% endif %}
													<img src="{{ image.src('large') }}" alt="{{ image.alt }}" title="{{ image.title }}">
										{% if slide.video_link %}
												</a>
											</div>
										{% endif %}
									</div>
									<div class="content">
										{% if slide.title %}
											<h2>{{ slide.title }}</h2>
										{% endif %}
										<div class="copy">
											{{ slide.content }}
										</div>
										{% if slide.links %}
											<div class="links">
												{% for link in slide.links %}
													<a class="btn btn-default" href="{{ link.button_link }}" {{ link.button_target ? 'target="_blank"' }}>{{ link.button_label }}</a>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>

							</div>

						{% endfor %}

					</div>

				</div>
			{% endif %}
		{% endif %}

		<div class="row">

			<section id="main-content">
				{{ post.main_content }}
			</section>
			
			<aside id="modules">
				
				{% include 'modules/next-gig.twig' %}

			</aside>

		</div>
		
		<div>
			<iframe style="border-radius:0px;margin: 30px 0;" src="https://open.spotify.com/embed/artist/3tPwetxCt5IbMEMiPRWDF9?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>			
		</div>

		<div>
			<!-- Place <div> tag where you want the feed to appear -->
<div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>

<!-- The Javascript can be moved to the end of the html page before the </body> tag -->
<script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
i.src="https://cdn.curator.io/published/6a2b1464-2475-4e8e-9a3a-108c81085c51.js";
e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>
		</div>

{# 
		<div id="home-bottom-image">
			<img src="{{ theme.link }}/build/images/home-bottom.jpg" class="img-responsive">
		</div>
 #}		

	</div>

{% endblock %}
