{% extends "base.twig" %}

{% block content %}

<div class="container">

	<div class="row">
	
		<div id="main-content">
			<header>
				<h1>Gallery</h1>
			</header>
		</div>

	</div>

	<div class="row">

		{% for post in posts %}

			<article class="gallery-link">
				<a href="{{ post.link }}">
				    <h2>{{ post.title }}</h2>
				    <div class="thumbnail">
				    	{% set image = TimberImage(post.thumbnail) %}
				    	<img src="{{ image.src('gallery-medium') }}" alt="{{ image.alt }}" title="{{ image.title }}">
				    </div>
			    </a>
			</article>

		{% endfor %}

	</div>

</div>

{% endblock %}
