{% extends "base.twig" %}

{% block content %}

	<div class="container">
		<div class="row">
			<section id="left-content">
				<header>
			        <h1>Upcoming Gigs</h1>
			    </header>
			    {% if gigs %}
					{% for gig in gigs.event %}
					    <article class="gig">
							<div class="row">
						    	<div class="content">
						    		<header>
						    			<h2><span class="date">{{ gig.start.date|date('d/m/Y') }}</span> - {{ (gig.headline) ? gig.headline ~ ' at ' }}{{ gig.venue.displayName }}, {{ gig.location.city }}</h2>
							    	</header>
							    	{% if gig.line_up %}
							    		<p><strong>Line-up:</strong> {{ gig.line_up }}</p>
						    		{% endif %}
							    	<footer>
							    		{% if gig.uri or gig.location %}
							    			<div class="links">
												{% if gig.location %}
									    			<a target="_blank" rel="nofollow" href="https://www.google.com/maps/?q={{ gig.venue.displayName }}, {{ gig.location.city }}">VIEW ON MAP</a>
									    		{% endif %}
												{% if gig.uri %}
									    			<a target="_blank" rel="nofollow" href="{{ gig.uri }}">MORE INFO</a>
									    		{% endif %}
								    		</div>
							    		{% endif %}
							    	</footer>
						    	</div>
					    	</div>
					    </article>
					{% endfor %}
				{% else %}
					No upcoming gigs at the moment..
					<br>
					Check back soon or try to book us!
			    {% endif %}
			</section>

			<aside id="right-content">
				
				{% include 'modules/share.twig' %}

				<div class="module">
					<p><strong>Gigs provided by</strong></p>
					<a href="http://www.songkick.com/artists/1198884-zipheads" target="_blank" rel="nofollow"><img class="img-responsive" src="{{ theme.link }}/build/images/songkick_logo.png" alt="Songkick"></a>
				</div>			

			</aside>

		</div>
	</div>

{% endblock %}
