{% extends "base.twig" %}

{% block content %}

	<div class="container">

		<div class="row">
			<section id="main-content">
				    <header>
				        <h1>{{ post.title }}</h1>
				    </header>
					{{ post.content }}
			</section>
		</div>

		<div class="row">
			<div id="audio-container">
				
				<audio id="audio-player" preload></audio>
				
				<div class="controls">
					
					<div class="buttons">
						<a class="previous"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
						<a class="play"><i class="fa fa-play" aria-hidden="true"></i></a>
						<a class="next"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
						<a class="stop"><i class="fa fa-stop" aria-hidden="true"></i></a>
					</div>

					<div class="progress-bar">
						<div class="seek-bar">
							<div class="play-bar"></div>
						</div>
					</div>
					
					<div class="timer">
						<span class="current-time">00:00</span>/<span class="duration">00:30</span>
					</div>

					{#
					<div class="animation">
						<img src="{{ theme.link }}/build/images/music/turntable.gif" alt="">
					</div>
					#}

				</div>

				<div class="playlist">
					{% for song in post.get_field('songs') %}
						<a class="playlist-item" href="{{ song.mp3_file.url }}" data-src="{{ song.mp3_file.url }}">{{ song.title }}</a>
					{% endfor %}

				</div>
			</div>

			</div>
		</div>
			
	</div>

{% endblock %}
