{% extends "base.twig" %}

{% block content %}

<div class="container">
	
	<div class="row">

		<section id="main-content">
			<header>
				<h1>Latest News</h1>
			</header>
		</section>

	</div>

	<section id="news-articles">
		
		<div class="news-row row">
			
			{% set counter = 0 %}
			{% for post in posts %}

				{% if counter > 1 %}
		    		</div><div class="news-row row">
					{% set counter = 0 %}
		    	{% endif %}

			    <article>
			    	<a href="{{ post.link }}">
				        <header>
				            <h2>{{ post.title }}</h2>
				        </header>
				        <div class="row">
				        	{% if post.thumbnail %}
						        <div class="article-image">
						        	{% set image = TimberImage(post.thumbnail) %}
									<div class="image-container">
										<img class="desktop" src="{{ image.src('news-thumb') }}" alt="{{ image.alt }}" title="{{ image.title }}">
										<img class="mobile" src="{{ image.src('news-mobile') }}" alt="{{ image.alt }}" title="{{ image.title }}">
									</div>
						        </div>
					        {% endif %}
					        <div class="article-content">
								<span class="date">{{ post.date }}</span>
				                <p>{{ post.get_preview(15, false, '') }}</p>
				                <span class="btn btn-default">Read More</span>
					        </div>
				        </div>
			    	</a>
			    </article>
				
				{% set counter = counter + 1 %}
		    	
			{% endfor %}

		</div>

		<div class="row">
			<div class="pagination">
				<div class="pagination-container">
				    {% if pagination.prev %}
				        <a href="{{pagination.prev.link}}" class="btn btn-default prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
				    {% endif %}
				    <ul class="pages">
				        {% for page in pagination.pages %}
				            <li>
				                {% if page.link %}
				                    <a href="{{page.link}}" class="btn btn-default {{page.class}}">{{page.title}}</a>
				                {% else %}
				                    <span class="{{page.class}}">{{page.title}}</span>
				                {% endif %}
				            </li>
				        {% endfor %}
				    </ul>
				    {% if pagination.next %}
				        <a href="{{pagination.next.link}}" class="btn btn-default next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
				    {% endif %}
			    </div>
			</div>
		</div>

	</section>

</div>

{% endblock %}
