{% extends "base.twig" %}

{% block content %}

	<div class="container">
		<div class="row">
			<section id="main-content">
				
			    <header>
			        <h1>{{ post.title }}</h1>
			    </header>

				{% if post.content_rows %}
					{% for row in post.get_field('content_rows') %}
						<div class="row content-block">
							
							{% for column in row.columns %}
								<div class="{{ row.columns|length <= 1 ? 'full' : 'half' }} {{ column.acf_fc_layout }}">
									
									{% if column.acf_fc_layout == 'text' %}
										{{ column.text }}
									{% else %}
										{% set image = TimberImage(column.image) %}
										<img src="{{ image.src('medium') }}" alt="{{ image.alt }}">
									{% endif %}

								</div>
							{% endfor %}

						</div>

					{% endfor %}
				{% endif %}
				
			</section>
		</div>
	</div>

{% endblock %}
