{% extends "base.twig" %}

{% block content %}

	<div class="container">

		<div class="row">
			<section id="main-content">
			    <header>
			        <h1>{{ post.title }}</h1>
			    </header>
				{{ post.content }}
			</section>
		</div>

		{% for release in releases %}
			<div class="row">

				<div class="release">

					<div class="row">

						<div class="artwork">
							{% set image = TimberImage(release.thumbnail) %}
							<img src="{{ image.src('release-thumb') }}" alt="">
						</div>

						<div class="content">
							
							<h2>{{ release.title }}</h2>

							{% if release.label or release.date_of_release %}
								<div class="info">
									<h3>
										{{ release.label }}
										{% if release.label and release.date_of_release %}-{% endif %}
										{% if release.date_of_release %}{{ release.date_of_release|date('Y') }}{% endif %}
									</h3>
								</div>
							{% endif %}

							<div class="description">
								{{ release.content }}
							</div>
							
							{% if release.tracklist %}
								<div class="tracklist">
									<ol>
										{% for track in release.get_field('tracklist') %}
											<li>{{ track.title }}</li>	
										{% endfor %}
									</ol>
								</div>
							{% endif %}

							{% if release.links %}
								<div class="links">
									{% for button in release.get_field('links') %}
										<a class="btn btn-default" href={{ button.button_link }} target="_blank" rel="nofollow">{{ button.button_label }}</a>	
									{% endfor %}
								</div>
							{% endif %}

						</div>

					</div>

				</div>

			</div>
		{% endfor %}

	</div>

{% endblock %}
