{% extends "base.twig" %}

{% block content %}

<div class="container">

    <div class="row">
    
        <div id="main-content">

            <header>
                <h1>Gallery > {{ post.title }}</h1>
            </header>
   
            {{ post.content }}

        </div>
        
    </div>

    <div class="row">

        <div id="image-gallery">
            {% for image in post.images %}

                {% set gallery_image = TimberImage(image) %}

                <div class="gallery-image" data-src="{{ gallery_image.src }}" data-sub-html="<h3>{{ gallery_image.title }}</h3>">

                    <a href="{{ gallery_image.src }}">
                        <img src="{{ gallery_image.src('gallery-thumb') }}" alt="{{ gallery_image.alt }}" title="{{ gallery_image.title }}" class="img-responsive">
                    </a>

                </div>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}
