{% extends "base.twig" %}

{% block content %}


<div class="container">
	<div class="row">
	
		<article id="left-content">
			<header>
				<h1>{{ post.title }}</h1>
				<span class="date">Pusblished on {{ post.date }}</span>
			</header>
			{% if post.thumbnail and not post.hide_featured_image %}
				<div class="article-image">
					{% set image = TimberImage(post.thumbnail) %}
					<img style="width:100%;height:auto;" src="{{ post.full_size_image ? image.src : image.src('news-full') }}" alt="{{ image.alt }}" title="{{ image.title }}">
				</div>
			{% endif %}
			<div class="article-content">
				{{ post.content }}
			</div>
		</article>
		
		<aside id="right-content">
			
			{% include 'modules/share.twig' %}

			{% include 'modules/next-gig.twig' %}

		</aside>

	</div>
</div>
{% endblock %}
