{% extends "base.twig" %}

{% block content %}

	<div class="container">
		<div class="row">
			<section id="main-content">
			    <header>
			        <h1>{{ post.title }}</h1>
			    </header>
				{{ post.content }}

			</section>	
		</div>

		{% if videos %}

			<div id="video-container">
			
				<div id="video-player" class="iframe-wrap">
					<iframe id="video-iframe" src="https://www.youtube.com/embed/{{ current_video }}?enablejsapi=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				
				<div class="row">
					<div id="video-list">
						{% for video in videos %}
							<div class="video-link">
								<a href="{{ post.link }}?v={{ video.id }}" class="{{ current_video == video.id ? 'current' }}" data-id="{{ video.id }}">
									<h2>{{ video.title }}</h2>
									<img src="{{ video.thumbnail }}" alt="{{ video.title }}">
								</a>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>

		{% endif %}

	</div>

{% endblock %}
