{% if next_gig %}
<div class="module next-gig">
	<h3>Next Gig</h3>
	<div class="content">
		<h4>{{ next_gig.venue.displayName }}, {{ next_gig.location.city }}</h4>
		<div class="date">{{ next_gig.start.date|date('d/m/Y') }}</div>
		<a href="{{ domain }}/gigs/" class="btn btn-default">More info</a>
	</div>
</div>
{% endif %}
