<div class="module share">
	<h3>Share this</h3>
	<div class="content">
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}"><i class="fab fa-facebook" aria-hidden="true"></i></a>
		<a href="https://www.twitter.com/share?url={{ post.link }}&text={{ post.title }}"><i class="fab fa-x-twitter" aria-hidden="true"></i></a>
		<a href="http://www.tumblr.com/share/link?url={{ post.link }}&text={{ post.title }}"><i class="fab fa-tumblr" aria-hidden="true"></i></a>
		<a class="mail" href="mailto:?subject={{ post.title }}&body={{ post.link }}"><i class="fas fa-envelope" aria-hidden="true"></i></a>
	</div>
</div>