// ===========================================================================================================
// INCLUDES
// ===========================================================================================================

// FONTS
@import "partials/fonts";

// BOOTSTRAP LAYOUT
@import "bootstrap/custom-variables";
@import "bootstrap/custom-bootstrap";

// HAMBURGER MENU TOGGLE
$hamburger-layer-color: $text-color;
$hamburger-hover-opacity: 1;
@import "hamburgers";

// SLICK CAROUSEL
@import "slick.scss";
@import "slick-theme.scss";

// LIGHT GALLERY
@import "lightgallery";
.lg-outer .lg-item {
    background: url("../images/loading.gif") no-repeat scroll center center transparent;
}


// ===========================================================================================================
// GENERAL STYLES
// ===========================================================================================================

.hide-lt-sm {
    display: none;
    @media (min-width: $screen-sm) {
        display: inline-block;
    }
}

.js #content-container {
    opacity: 0;
    transition: opacity 0.5s ease;  
    &.on {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: $link-color;
    transition: color 0.3s ease;
}

@mixin btn {
    background: $bg-color-dark;
    border: 3px solid $bg-color;
    padding: 10px 20px;
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-size: 1.35em;
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s ease;
    &,
    &:hover,
    &:focus,
    &:visited, 
    &:link {
        text-decoration: none;
        color: $text-color;
        outline: none;
    }
    &:hover {
        background: $bg-color;
    }
}

.btn {
    @include btn;    
}


#main-content {
    @include make-sm-column(12);
    .btn {
        margin: 10px auto;
    }
}

#left-content {
    @include make-sm-column(8.5);
}

#right-content {
    @include make-sm-column(3);
    @include make-sm-column-offset(0.5);
    margin-top: 60px;
    @media (min-width: $screen-sm) {
        margin-top: 0;
    }
}

#main-content,
#left-content {
    header {
        h1 {
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
}


.iframe-wrap {
    position: relative;
    padding-bottom: 54%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    background-color: black;
    iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        border: 5px solid $text-color;
    }
}

::selection {
    background: $bg-color;
    color: $text-color;
}

::-moz-selection {
    background: $bg-color;
    color: $text-color;
}

::-webkit-selection {
    background: $bg-color;
    color: $text-color;
}

.alignleft {
    height: auto;
    display: block;
    width: 100%;
    margin: 20px 0;
    @media (min-width: $screen-lg) {
        max-width: 50%;
        margin: 0 30px 20px 0 !important;
        float: left;
        display: inherit;
    }
}


// ===========================================================================================================
// HEADER
// ===========================================================================================================


#header {

    margin-top: 10px;
    margin-bottom: 50px;

    @media (min-width: $screen-sm) {
        margin-top: 20px;
    }

    .logo {
        @include make-sm-column(4.5);
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            max-height: 140px;
            transform: rotate(10deg);
            @media (min-width: $screen-sm) {
                max-height: 230px;
                transform: none;
                    body.home & {
                    max-height: none;
                }
            }
        }
    }

    .heads {
        @include make-sm-column(7.5);
        display: none;
        text-align: right;
        img {
            max-height: 150px;
        }
        @media (min-width: $screen-sm) {
            display: block;
        }   
        @media (min-width: $screen-md) {
            img {
                max-height: 200px;
            }
        }        
        @media (min-width: $screen-lg) {
            img {
                max-height: 230px;
                body.home & {
                    max-height: none;
                }
            }
        }        
    }

}



// ===========================================================================================================
// FOOTER
// ===========================================================================================================



#footer {
    @include clearfix;
    display: block;
    position: relative;
    padding: 0;
    margin: 40px auto 30px;
    hr {
        border-top: 5px solid $bg-color-dark;
        margin-bottom: 20px;
    }
    .terms {
        @include make-sm-column(4);
        font-size: 0.8em;
        text-align: center;
        padding-top: 5px;
        margin-bottom: 20px;
        p {
            margin: 0;
            font-size: 0.9em;
        }
    }

    .partners {
        @include make-sm-column(4);
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: block;
            margin: 0 10px;
            opacity: .75;
            transition: opacity .25s ease;
            &:hover {
                opacity: 1;
            }
        }
        img {
            max-height: 40px;
            width: auto;
            height: auto;
        }
    }

    .extra-links {
        @include make-sm-column(4);
        float: none !important;
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 0;
                list-style: none;
                a {
                    font-size: 1.7em;
                    color: $text-color;
                    opacity: 1;
                    transition: all 0.3s ease;
                    margin: 0 10px;
                    &:hover,
                    &:focus,
                    &:visited {
                        color: $text-color;
                        opacity: 0.6;
                    }
                    @media (min-width: $screen-sm) {
                        font-size: 1.5em;
                        line-height: 1.7em;
                    }
                }
                .btn {
                    display: block;
                    position: relative;
                    font-size: 1em;
                    padding: 5px 10px;
                    top: -3px;
                    span {
                        margin-right: 5px;
                    }
                    &:hover,
                    &:focus,
                    &:visited {
                        opacity: 1;
                    }
                    i {
                        margin-left: 5px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }

 

    @media (min-width: $screen-sm) {
        .terms {
            text-align: left;
            margin-bottom: 0;
        }
        .extra-links {
            text-align: right;
            float: right !important;
            ul li a {
                margin: 0 0 0 15px;
            }
        }
    }

}




// ===========================================================================================================
// NAVIGATION
// ===========================================================================================================


@mixin current-menu-item {
    background: $bg-color !important;
    @media (min-width: $screen-sm) {
        padding: 15px 20px 13px;
        margin-top: -8px;
        margin-bottom: -8px;   
    }
}

@mixin menu-item-hover {
    // background: $bg-color-dark;
    background: darken($bg-color, 8%);
    padding-top: 15px;
    padding-bottom: 13px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.nav-container {
    background: $bg-color-dark;
    border-top: 3px solid $bg-color;
    border-bottom: 3px solid $bg-color;
    margin: 5px auto 0;
    position: relative;
    min-height: 65px;
    @media (min-width: $screen-sm) {
        min-height: 0;
        margin: 40px auto 0;
    }
}

#header {

    .main-nav {
        @include make-sm-column(9);
    }
    
    .extra-links {
        position: absolute;
        top: 8px;
        left: 15px;
        @media (min-width: $screen-sm) {
            text-align: right;
            @include make-sm-column(3);
            top: auto;
            left: auto;
            position: relative;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 0;
                margin: 0 0 0 15px;
                list-style: none;

                @media (min-width: $screen-sm) {
                    margin: 0 15px 0 0;
                }

                a {
                    font-size: 1.7em;
                    line-height: 1.5em;
                    color: $text-color;
                    opacity: 1;
                    transition: all 0.3s ease;
                    &:hover,
                    &:focus,
                    &:visited {
                        color: $text-color;
                        opacity: 0.6;
                    }
                    @media (min-width: $screen-sm) {
                        font-size: 1.5em;
                        line-height: 1.7em;
                    }
                }
            }
        }
    }
}

.main-nav {
    font-family: $headings-font-family;
    display: none;
    @media (min-width: $screen-sm) {
        display: block !important;
    }
    ul {
        @include clearfix;
        padding: 10px 0 0;
        margin: 60px 0 10px;
        border-top: 3px solid $bg-color;
        @media (min-width: $screen-sm) {
            margin: 0;
            border-top: 0;
            padding: 0;
        }
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            width: 100%;
            text-align: center;
            @media (min-width: $screen-sm) {
                float: left;
                width: auto;
            }
            a {
                text-transform: uppercase;
                color: $text-color;
                font-size: 1.3em;
                font-weight: bold;
                text-decoration: none;
                display: block;
                padding: 7px 10px;
                @media (min-width: $screen-sm) {
                    font-size: 1.2em;
                    transition: all 0.3s ease;
                    padding: 7px 8px 5px;
                    &:hover {
                        @include menu-item-hover;
                    }
                }
                @media (min-width: $screen-md) {
                    font-size: 1.4em;
                    padding: 7px 10px 5px;
                }
                @media (min-width: $screen-lg) {
                    padding: 7px 20px 5px;
                }
            }

            &.current-menu-parent,
            &.current-menu-item {
                > a {
                    @include current-menu-item;
                }
            }
            
            &.menu-item-has-children > a {
                display: none;
            }

            .sub-menu {
                margin: 0;
                padding: 0;
                border: 0;
            }
            
            @media( min-width: $screen-sm) {

                &.menu-item-has-children > a {
                    display: block;
                }

                .sub-menu {
                    display: none;
                }

            }

        }
    }
}

.single-post .main-nav ul li.news-menu-item,
.single-gallery .main-nav ul li.media-menu-item {
    > a {
        @include current-menu-item;
    }
}

#secondary-nav-holder {
    background: $bg-color-dark;
    padding: 8px 0;
    @include clearfix;
    ul {
        margin: 0 0 0 12px;
        padding: 0;
        li {
            list-style: none;
            margin: 0 15px 0 0;
            float: left;
            a {
                font-family: $headings-font-family;
                text-transform: uppercase;
                font-size: 1.1em;
                text-decoration: none;
                &:hover,
                &:focus,
                &:visited {
                    color: $text-color;
                    text-decoration: none;
                }
            }
            &.current-menu-item {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
    &.current {
        background: $bg-color;
    }
}

#header .nav-container .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 2px;
    outline: none;
    span {
        color: $text-color;
    }
    @media (min-width: $screen-sm) {
        display: none;
    }
}


// ===========================================================================================================
// HOMEPAGE
// ===========================================================================================================

#slider {

    @include make-sm-column(12);

    margin-top: 20px;
    margin-bottom: 60px;
    background: $bg-color-alt;
    padding: 20px $grid-gutter-width/2;

    @media (min-width: $screen-sm) {
        padding: 20px 40px;
    }


    &:before {
        content: '';
        height: 30px;
        top: -10px;
        width: 100%;
        position: absolute;
        right: 0;
        background: $bg-color-alt;
        transform: skewY(1deg);
        z-index: -1;
    }    
    
    &:after {
        content: '';
        height: 30px;
        bottom: -10px;
        width: 100%;
        position: absolute;
        right: 0;
        background: $bg-color-alt;
        transform: skewY(-1deg);
        z-index: -1;
    }  

    .slick-prev,
    .slick-next {
        background: $bg-color-alt;
        border-radius: 0;
        height: 60px;
        &:before {
            color: $text-color;
        }
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slide {
        
        outline: none;
        position: relative;

        &.standard {
    
            z-index: 2;

            // background: url(../images/bg-slider.gif)  85% top  no-repeat;
            // background-size: auto 100%;

            .row {
                position: relative;
            }

            h2 {
                font-size: 1.6em;
                text-align: center;
            }

            .image {
                @include make-sm-column(5);
                img {
                    @include img-responsive;
                }
            }

            .content {
                @include make-sm-column(7);
            }

            .copy {
                display: none;
            }

            .links {
                margin-top: 30px;
                margin-bottom: 30px;
                text-align: center;
                .btn {
                    padding: 10px; 
                    font-size: 1em;
                    margin: 5px;
                }
            }

        }

        &.video {
            text-align: center;
        }

        iframe {
            width: 100%;
            max-width: 840px;
            height: 180px;
            margin: 20px auto 0;
        }

    }

    .video-link {
        a {
            position: relative;
            display: block;
            outline: none;
            text-decoration: none;
        }
        a:before {
            content: "\f01d";
            font-family: FontAwesome;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -47px;
            margin-top: -47px;
            z-index: 2;
            font-size: 6em;
            line-height: 1em;
            text-align: center;
            width: 94px;
            height: 94px;
            opacity: 0.75;
            transition: opacity 0.3s ease;
        }
        a:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    @media (max-width: $screen-sm - 1) {
        .slide.video {
            position: relative;
            padding-bottom: 54%; /* 16:9 */
            height: 0;
            margin-top: 20px;
            margin-bottom: 40px;
            iframe {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
            }
        }
    }

    @media (min-width: $screen-sm - 1) {
        .slide {
            &,
            iframe {
                height: 380px;
            }
            iframe {
                margin: 0 auto;
            }
            &.standard {
                h2 {
                    text-align: left;
                }
                .row {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    @media (min-width: $screen-md) {
        .slide {
            &,
            iframe {
                height: 480px;
            }
            &.standard {
                h2 {
                    font-size: 2em;
                }
                .copy {
                    display: block;
                }
            }
        }
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }

}

#home-bottom-image {
    text-align: center;
    img {
        margin: 20px auto 0;
    }
}

.home {

    .home-buttons {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        .btn {
            margin: 0 10px;
        }
    }

    #main-content {
        @include make-sm-column(8);
    }
    #modules {
        @include make-sm-column(4);
        margin-top: 60px;
        @media (min-width: $screen-sm) {
            margin-top: 0;
        }
    }

    #social-feeds {
        margin-top: 60px;
    }

    #twitter-feed,
    #instagram-feed,
    #spotify-feed {
        @include make-md-column(4);

    }

    #spotify-feed {
        iframe {
            width: 100% !important;
        }
    }

    #facebook-feed,
    #spotify-feed {
        @include make-md-column(5);
        @include make-lg-column(4);
        text-align:center; 
        iframe {
            display: inline-block;
            max-width: 100%;
        }
    }


    #twitter-feed, 
    #instagram-feed,,
    #spotify-feed {
        margin-bottom: 40px;
        @media (min-width: $screen-md) {
            margin-bottom: 0;
        }
    }

    .twitter-holder {
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;
        max-height: 560px;
        overflow: auto;
        border: 5px solid $text-color;
    }

    #instagram-feed {
        @include make-md-column(3);
        @include make-lg-column(4);
        h2 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 1.75em;
            @include clearfix;
            .btn {
                font-size: 0.6em;
                padding: 5px;
                float: right;
                text-align: center;
            }
        }
        .row {
            @include clearfix;
        }
        a {
            @include make-xs-column(4);
            @include make-sm-column(3);
            @include make-md-column(4);
            margin-bottom: $grid-gutter-width;
            img {
                max-width: 100%;
                opacity: 0.6;
                transition: opacity 0.3s ease;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }

}

@mixin module-background($bg-color, $first-angle, $second-angle) {
    background: $bg-color;
    &:before {
        content: '';
        height: 30px;
        top: -10px;
        width: 100%;
        position: absolute;
        right: 0;
        background: $bg-color;
        transform: skewY($first-angle);
        z-index: 1;
    }    
    
    &:after {
        content: '';
        height: 30px;
        bottom: -10px;
        width: 100%;
        position: absolute;
        right: 0;
        background: $bg-color;
        transform: skewY($second-angle);
        z-index: 1;
    }  
}

.module {

    padding: 20px 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
    
    &:last-child {
        margin-bottom: 20px;
    }

    &:nth-child(even) {
        @include module-background($bg-color-alt, 3deg, -3deg);    
    }

    &:nth-child(odd) {
        @include module-background($bg-color-alt, -3deg, 3deg);    
    }


    
    h3 {
        margin-top: 0;
        z-index: 2;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 5px solid #3c3c3c;
    }

    .content {
        position: relative;
        z-index: 2;
    }

    &.share {
        a {
            font-size: 1.6em;
            margin: 0 5px;
        }
    }

    &.next-gig {
        .btn {
            padding: 5px;
            margin: 5px;
            font-size: 1em;
        }
        h4 {
            margin: 10px 0;
        }
        .date {
            font-family: $headings-font-family;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }

}



// ===========================================================================================================
// DEFAULT PAGE - CONTENT BLOCKS
// ===========================================================================================================

.content-block {

    @include clearfix;
    margin-bottom: 20px;

    .full {
        @include make-md-column(12);
    }

    .half.text {
        @include make-md-column(8.5);
    }

    .half.image {
        @include make-md-column(3.5);
    }

    .image {
        img {
            border: 5px solid $text-color;
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px;
    }
}



// ===========================================================================================================
// NEWS
// ===========================================================================================================


#news-articles {

    @media (min-width: $screen-sm) {
        .news-row {
            margin-bottom: 40px;
        }
    }

    article {

        @include make-sm-column(6);
        margin-bottom: 40px;

        @media (min-width: $screen-sm) {
            margin-bottom: 0;
        }

        p {
            font-size: 0.9em;
            @media (min-width: $screen-sm) {
                font-size: 1em;
            }
        }

        h2 {
            font-size: 1.5em;
            margin-top: 0;
        }

        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: $link-color;
            }
        }

        .btn {
            padding: 5px 10px;
            font-size: 1em;
            float: right;
            @media (min-width: $screen-sm) {
                float: none;
            }
        }

        .article-image {
            @include make-sm-column(4);
            margin-bottom: 20px;
            max-width: 100%;
            height: auto;
            img {
                width: 100%;
            }
            .desktop {
                display: none;
            }
            @media (min-width: $screen-sm) {
                img {
                    width: default;
                }
                .desktop {
                    display: block;
                }
                .mobile {
                    display: none;
                }
            }
        }

        .article-content {
            @include make-sm-column(8);   
        }

        .date {
            display: block;
            font-weight: bold;
            font-style: italic;
            font-size: 1em;
            margin-bottom: 10px;
            margin-top: 0;
        }
    
        .image-container {
            overflow: hidden;
            display: block;
            border: 5px solid $text-color;
        }

        @media (min-width: $screen-sm) {
            img {
                opacity: 1;
                transform-origin: 50%;
                transform: translatez(0) scale(1.1);
                transition: transform .3s ease, opacity .3s ease;
            }
            a:hover {
                text-decoration: none;
                img {
                    opacity: 0.8;
                    transform: scale(1);
                }
            }
        }

    }

    .pagination {
        @include make-sm-column(12);
        text-align: center;
        .pagination-container {
            @include clearfix;
            padding-top: 40px;
            margin-top: 0;
            border-top: 5px solid $bg-color-alt;
        }
        ul, li {
            margin: 0;
            padding: 0;
            display: inline-block;
            list-style: none;
        }
        .btn,
        span {
            font-family: $headings-font-family;
            padding: 5px 10px;
            font-size: 1.2em;
        }
    }
}

.single-post {
    #left-content {
        header {
            h1 {
                margin-bottom: 20px;
            }
            .date {
                display: block;
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 1em;
                font-weight: bold;
                font-family: $font-family-base;
                font-style: italic;
            }
        }
    }
    .article-image {
        border: 5px solid $text-color;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
        margin-bottom: 40px; 
    }
    .article-content {
        p {
            margin-bottom: 20px;
        }
    }
}




// ===========================================================================================================
// GIGS
// ===========================================================================================================


.gig {

    @include clearfix;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid $bg-color-alt;
    
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .content {
        @include make-sm-column(12);
        h2 {
            font-size: 1.2em;
            margin-top: 0;
        }
        p {
            font-size: 0.9em;
        }
        @media (min-width: $screen-sm) {
            h2 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }

    // .flyer {
    //     @include make-xs-column(3);
    //     @include make-sm-column(2);
    //     img {
    //         max-width: 100%;
    //         height: auto;
    //     }
    // }

    .links {
        a {
            font-weight: bold;
            margin-right: 10px;
        }
    }


}

.page-template-page-gigs {
    
    #right-content {
        text-align: left;
        margin-top: 60px;
        ul {
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
                list-style: none;
                a {
                    font-size: 1.8em;
                    font-family: $headings-font-family;
                    text-decoration: none;
                }
            }
        }
        @media (min-width: $screen-sm) {
            text-align: right;
            margin-top: 0;
        }
    }

}


// ===========================================================================================================
// RELEASES
// ===========================================================================================================

.page-template-page-releases {
    #main-content header h1 {
        margin-bottom: 45px;
    }
}

.release {
    
    @include make-sm-column(12);
    margin: 0 auto 60px;

    h2,
    h3 {
        margin-top: 0;
    }

    h3 {
        font-size: 1.4em;
    }

    .artwork {
        @include make-sm-column(5);
        margin-bottom: 20px;
        img {
            border: 5px solid $text-color;
            width: 100%;
            height: auto;
        }
        @media (min-width: $screen-sm) {
            margin-bottom: 0;  
        }
    }

    .tracklist {
        ol {
            padding-left: 30px;
        }
        li {
            list-style: none;
            counter-increment: step-counter;
            position: relative;
            &:before {
                content: counter(step-counter);
                font-weight: bold;
                // font-size: 1.1em;
                position: absolute;
                top: 0;
                left: -30px;
                text-align: left;
                width: 30px;
            }
        }
    }

    .content {
        @include make-sm-column(7);
    }

    .links {
        margin-top: 20px;
        .btn {
            margin: 10px 0;
            display: block;
            width: 100%;
            text-align: center;
        }
        @media (min-width: $screen-sm) {
            .btn {
                margin: 10px 10px 0 0; 
                display: inline-block;
                width: auto;
            }
        }
    }

}



// ===========================================================================================================
// MUSIC
// ===========================================================================================================

#audio-container {

    .controls {
        @include make-sm-column(6);
        a {
            position: relative;
            margin: 0 20px 0 0;
            padding: 20px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            background: $bg-color-dark;
            width: 50px;
            height: 50px;
            padding: 10px;
            i {
                font-size: 2em;
                line-height: 1em;
            }
            &:hover {
                
            }
        }
        @media (min-width: $screen-md) {
            a {
                width: 60px;
                height: 60px;
                padding: 15px;
                i {
                    font-size: 2.2em;
                    line-height: 0.9em;
                }
            }
        }
    }

    .playlist {
        @include make-sm-column(6);
        margin-top: 30px;
        .playlist-item {
            @include clearfix;
            display: block;
            font-family: $headings-font-family;
            font-size: 1.4em;
            text-decoration: none;
            opacity: 0.5;
            transition: all 0.3s ease;

            &:hover {
                color: $link-color;
            }

            &.current {
                font-weight: bold;
                opacity: 1;
            }
            @media (min-width: $screen-md) {
                font-size: 1.8em;
            }
        }

        @media (min-width: $screen-sm) {
            margin-top: 0;
        }
    }

    .timer {
        margin-top: 20px;
    }

    .animation {
        background: url(../images/music/turntable.jpg) top left no-repeat;
        img {
            opacity: 0;
            max-width: 100%;
            height: auto;
        }
    }

    &.playing {
        .animation img {
            opacity: 1;
        }
    }

    .progress-bar {
        width: 100%;
        max-width: 460px;
        margin: 30px 0 0;
        height: 30px;
        position: relative;
        padding: 7px;
        background: $bg-color-dark;

        .seek-bar,
        .play-bar {
            height: 100%;
        }
        .play-bar {
            background: $link-hover-color;
            opacity: 0.7;
            width: 0%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .seek-bar {
            position: relative;
            z-index: 2;
            width: 100%;
            cursor: pointer;
        }

    }

}


// ===========================================================================================================
// GALLERY
// ===========================================================================================================

@mixin magnify-element {
    &:before {
        content: "\f002";
        font-family: 'Font Awesome 6 Free';
        font-style: normal;
        font-weight: 900;
        position: absolute;
        color: $text-color;
        bottom: 10px;
        right: 10px;
        font-size: 1.6em;
        z-index: 3;
        width: 40px;
        height: 40px;
        background: $bg-color-alt;
        opacity: 0.6;
        text-align: center;
    }
}

.gallery-link {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    margin-bottom: $grid-gutter-width;
    
    a {
        position: relative;
        display: block;
        border: 5px solid $text-color;
        &,
        &:hover {
            color: $text-color;
            text-decoration: none;
        }
    }
    
    img {
        width: 100%;
        height: auto;
        opacity: 0.8;
    }

    h2 {
        font-size: 1.5em;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
        margin: 0;
        padding: 10px;
        z-index: 2;
        height: 50px;
        transition: all 0.3s ease;
    }
    
    @media (min-width: $screen-sm) {
        a:hover {
            h2 {
                height: 100%;
                font-size: 2.3em;
            }
            @include magnify-element;
        }
    }

}

#image-gallery {
    margin-top: 30px;
    .gallery-image {
        @include make-xs-column(4);
        @include make-md-column(3);
        padding-bottom: $grid-gutter-width;
        a {
            display: block;
            overflow: hidden;
            position: relative;
            text-decoration: none;
        }
        img {
            width: 100%;
            height: auto;
        }
        @media (min-width: $screen-sm) {
            img {
                opacity: 1;
                transform-origin: 50%;
                transform: translatez(0) scale(1.1);
                transition: transform .3s ease, opacity .3s ease;
            }
            a:hover {
                text-decoration: none;
                img {
                    opacity: 0.7;
                    transform: scale(1);
                }
                @include magnify-element;
            }
        }        
    }
}



// ===========================================================================================================
// VIDEOS
// ===========================================================================================================

#video-list {
    margin: 20px auto;
    .video-link {
        @include make-xs-column(6);
        @include make-sm-column(4);
        @include make-md-column(3);
        padding-bottom: $grid-gutter-width;
        a {
            position: relative;
            display: block;
            border: 5px solid $bg-color-alt;
            &,
            &:hover {
                text-decoration: none;
            }
            
            &:before {
                content: "";
                position: absolute;
                width: 40px;
                height: 28px;
                background: url(../images/youtube-play.png);
                background-size: 100%;
                margin-top: -14px;
                margin-left: -20px;
                top: 50%;
                left: 50%;
                z-index: 2;
                opacity: 0.5;
            }
            h2 {
                opacity: 0.75;
                z-index: 2;
                font-size: 0.9em;
                color: $text-color;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: 5px; left: 5px;
                margin: 0;
            }
            img {
                max-width: 100%;
                opacity: 0.5;
            }
            &:before,
            img,
            h2 {
                transition: all 0.3s ease;
            }
            &.current {
                border: 5px solid $text-color;
                h2 {
                    opacity: 1;
                }
                img {
                    opacity: 1;
                }
                &:before {
                    opacity: 0;
                }
            }
            @media (min-width: $screen-sm) {
                &:before {
                    width: 60px;
                    height: 42px;
                    margin-top: -21px;
                    margin-left: -30px;
                    font-size: 4em;
                }
                h2 {
                    font-size: 1em;
                    top: 10px;
                    left: 10px;
                }
            }
        }
    }

}


// ===========================================================================================================
// CONTACT
// ===========================================================================================================

.page-template-page-contact {

    #main-content {
        @include make-sm-column(6);
    }

    #side-content {
        @include make-sm-column(5);
        @include make-sm-column-offset(1);
        margin-top: 40px;
        h2 {
            font-size: $font-size-h1;
            margin-top: 10px;
            margin-bottom: 40px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }

    @media (min-width: $screen-sm) {
        #side-content {
            margin-top: 0;
        }
    }

}

.wpcf7-response-output {
    display: none !important;
}

.wpcf7-form {

    h3 {
        font-size: 1.3em;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
        color: $text-color;
        padding: 10px;
        background: $bg-color-alt;
        border: 5px solid $text-color;
        outline: none;
    }

    input[type=submit] {
        @include btn;
    }

}


// ===========================================================================================================
// VARIOUS STUFF
// ===========================================================================================================

.slick-next,
.slick-prev {
    z-index: 2;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100%;
    &:before {
        font-family: FontAwesome;
        color: #fff;
        font-size: 25px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}
.slick-prev {
    left: 20px;
    &:before {
        content: '\f053';
        margin-right: 5px;
    }
}
.slick-next {
    right: 20px;
    &:before {
        content: '\f054';
        margin-left: 5px;
    }
}
.slick-disabled {
    opacity: 0.1;
}

.lg-toolbar {
    background: none;
}

.lg-sub-html h3 {
    color: #fff;
    font-size: 1.3em;
}

.lg-backdrop {
    background: rgba(0, 0, 0, 0.85);
}

.cookieTable {
    th, td {
        width: 30%;
        padding: 1%;
        border: 1px solid #999;
    }
    @media (max-width: $screen-sm) {
        th {display: none;}
    	td {
    		display: block;
    		width: 100%;
    		border: none;
    	}
    	td p {
    		margin: 0;
    		font-style: italic;
    	}
    	tr td:first-child {
    		font-weight: bold;
    		margin: 1%;
    		border-top: 1px solid #000;
    		padding-top: 4%;
    	}
    	tr td:nth-child(2):before {
    		content: "Purpose: ";
    	}
    	tr td:nth-child(3):before {
    		content: "Duration: ";
    	}
    }
}
