
<footer id="footer">     
 
 	<div class="container">

		<hr>

    	<div class="row">	
            
             {% if extra_links %}
                <div class="extra-links">
                    <ul>
                        {% for link in extra_links %}
                            <li>
                                <a class="{{ link.icon == 'envelope' ? 'btn btn-default' }}" href="{{ link.link }}" target="_blank" rel="nofollow">
                                    {% if link.icon == 'envelope' %}
                                        <span class="hide-lt-sm">Sign up to our </span>newsletter
                                    {% endif %}
                                    <i class="fa{{ link.icon == 'envelope' ? 's' : 'b' }} fa-{{ link.icon }}" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endfor %}  
                    </ul>
                </div>
            {% endif %}


    		<div class="terms">
	        	<p>{{ footer_terms }}</p>
                <p>Website made by <a href="http://jeremybasolo.com/" target="_blank" rel="nofollow">some fan</a></p>
			</div>
            
            <div class="partners">
                <a href="https://www.gretschguitars.com/" target="_blank"><img src="{{ theme.link }}/build/images/gretsch.png" alt="Gretsch"></a>
                <a href="https://londondrumsticks.co.uk/" target="_blank"><img src="{{ theme.link }}/build/images/ldc.png" alt="London Drumsticks Company"></a>
            </div>

    	</div>
    
    </div>

</footer>