<header id="header">

    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="{{ domain }}"><img src="{{ theme.link }}/build/images/logo.gif" alt="The Zipheads"></a>
            </div>
            <div class="heads">
                <img src="{{ Image(header_image).src }}" alt="" class="img-responsive">
            </div>
        </div>
    </div>

    <div class="nav-container">
        <div class="container">
            <div class="row">
                
                <div class="main-nav">
                    <nav>
                        <ul>
                            {% for item in menu.get_items %}
                                    <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                                        {% if item.get_children %}
                                            <ul class="sub-menu">
                                                {% for child in item.get_children %}
                                                    <li class="sub-menu-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
                                                {% endfor %}
                                            </ul>
                                         {% endif %}
                                    </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                
                {% if extra_links %}
                    <div class="extra-links">
                        <ul>
                            {% for link in extra_links %}
                                <li>
                                    <a href="{{ link.link }}" target="_blank" rel="nofollow">
                                        <i class="fab fa-{{ link.icon == 'envelope' ? 'solid' : 'brands' }} fa-{{ link.icon }}" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endfor %}  
                        </ul>
                    </div>
                {% endif %}

                <button class="hamburger hamburger--spin" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>  

            </div>
        </div>
    </div>

</header>