$fa-font-path: '../fonts';
@import "fontawesome";
@import "brands";
@import "regular";
@import "solid";

@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700';

@font-face {
    font-family: 'Rakesly';
    src: url('../fonts/rakesly/rakesly_bd-webfont.woff2') format('woff2'),
         url('../fonts/rakesly/rakesly_bd-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly';
    src: url('../fonts/rakesly/rakesly_rg-webfont.woff2') format('woff2'),
         url('../fonts/rakesly/rakesly_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}